@model IEnumerable<e_Shop.Models.PartidaModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th>
            Carrito
        </th>
        <th>
            Producto ID
        </th>
        <th>
            Cantidad
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.idCarrito)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.productoId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cantidad)
        </td>
        <td>
            <button onclick="quitar('@item.id','@item.idCarrito','@item.productoId',@item.cantidad)">-</button>
        </td>
    </tr>
}

</table>

<script type="text/javascript">
    function quitar(id,idCarrito,productoId,cantidad) {
        $.ajax({
            //La url de tu API
            url: "/Carrito/quitar",
            //tipo POST o GET
            type : "POST",
            //Aqui se especifica el tipo de datos a enviar
            contentType: 'application/json',
            //Aqui van los datos a enviar dependiendo el tipo (Json en este caso)
            data: "{'id':'" + id + "', 'idCarrito': '" + idCarrito + "', 'productoId':'" + productoId + "', 'cantidad':" + cantidad + "}",
            //Aqui es cuando recibes el status 200 y data es lo que recibes del servidor
            success: function(data){
                window.location.replace("/Carrito/Index");
            },
            //Cuando el servidor regresa un error
            error : function(xhr, status) {
                alert("¡Hubo un error al quitar!");
            }
        });
    }
</script>