@model IEnumerable<e_Shop.Models.ProductoModel>

@{
    ViewBag.Title = "Index";
    string idUsuario;
    bool val1 = System.Web.HttpContext.Current.User.Identity.IsAuthenticated;
    if (val1)
    {
        idUsuario = System.Web.HttpContext.Current.User.Identity.Name;
    }
    else
    {
        if (Session["tokenSession"] == null)
        {
            Session["tokenSession"] = Guid.NewGuid().ToString();
        }
        idUsuario = Session["tokenSession"].ToString();
    }
}
<link href="~/Content/productoindex.css" rel="stylesheet" type="text/css" />
<h2 style="text-align:center;">Nuestros Productos</h2>

<!--<p>
    @Html.ActionLink("Agregar producto", "Crear")
</p>-->

@foreach (var item in Model)
{
    <div class="item">
        <div>
            <img src="@item.url" alt="Icono del videojuego" style="width: 150px;filter: drop-shadow(0px 3px 3px #3b3b3b);" />
        </div>
        <div style="font-size: 2em;font-family: 'Maven Pro', sans-serif;">
            @Html.DisplayFor(modelItem => item.Nombre)
        </div>
        <div>
            @Html.DisplayFor(modelItem => item.Categoria)
        </div>
        <div>
            $@Html.DisplayFor(modelItem => item.Precio)
        </div>
        <div style="font-size: 0.8em;height: 46px;">
            @Html.DisplayFor(modelItem => item.Descripcion)
        </div>
        <div>
            <input id="@item.Codigo" type="number" min="1" max="20" step="1" value="1" />
            <button onclick="agregar('@item.Codigo','@item.Nombre',@item.Precio)" class="btn-success">Agregar al carrito</button>
        </div>
    </div>

}


<script type="text/javascript">
    function agregar(codigo,nombre,precio) {
        var cantidad = $("#" + codigo).val();
        var costo = cantidad * precio;
        $.ajax({
            //La url de tu API
            url: "/Carrito/agregar",
            //tipo POST o GET
            type : "POST",
            //Aqui se especifica el tipo de datos a enviar
            contentType: 'application/json',
            //Aqui van los datos a enviar dependiendo el tipo (Json en este caso)
            data: "{'id': '@Guid.NewGuid().ToString()', 'idCarrito': '@idUsuario', 'productoId':'"+codigo+"', 'cantidad':"+cantidad+",'costo':"+costo+",'nombre': '"+nombre+"','pedidoId':'ninguno'}",
            //Aqui es cuando recibes el status 200 y data es lo que recibes del servidor
            success: function(data){
                window.location.replace("/Carrito/Index");
            },
            //Cuando el servidor regresa un error
            error : function(xhr, status) {
                alert("¡Hubo un error al agregar!");
            }
        });
    }
</script>