@model IEnumerable<e_Shop.Models.ProductoModel>

@{
    ViewBag.Title = "Index";
    string idUsuario;
    bool val1 = System.Web.HttpContext.Current.User.Identity.IsAuthenticated;
    if (val1)
    {
        idUsuario = System.Web.HttpContext.Current.User.Identity.Name;
    }
    else
    {
        if (Session["tokenSession"] == null)
        {
            Session["tokenSession"] = Guid.NewGuid().ToString();
        }
        idUsuario = Session["tokenSession"].ToString();
    }
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Agregar producto", "Crear")
</p>
<table class="table">
    <tr>
        <th>
            Imagen
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Codigo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Categoria)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Precio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <img src="@item.url" alt="Icono del videojuego" style="width: 150px;filter: drop-shadow(0px 3px 3px #3b3b3b);" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Codigo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Categoria)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Precio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
        <td>
            <input id="@item.Codigo" type="number" min="1" max="20" step="1" value="1" /> 
            <button onclick="agregar('@item.Codigo')">+</button>
            @Html.ActionLink("Delete", "Delete", new { id=item.Codigo  })
        </td>
    </tr>
}

</table>

<script type="text/javascript">
    function agregar(codigo) {
        var cantidad = $("#" + codigo).val();
        $.ajax({
            //La url de tu API
            url: "/Carrito/agregar",
            //tipo POST o GET
            type : "POST",
            //Aqui se especifica el tipo de datos a enviar
            contentType: 'application/json',
            //Aqui van los datos a enviar dependiendo el tipo (Json en este caso)
            data: "{'id': '@Guid.NewGuid().ToString()', 'idCarrito': '@idUsuario', 'productoId':"+"'"+codigo+"'"+", 'cantidad':"+cantidad+"}",
            //Aqui es cuando recibes el status 200 y data es lo que recibes del servidor
            success: function(data){
                window.location.replace("/Carrito/Index");
            },
            //Cuando el servidor regresa un error
            error : function(xhr, status) {
                alert("¡Hubo un error al agregar!");
            }
        });
    }
</script>