@model IEnumerable<e_Shop.Models.PedidoModel>

@{
    ViewBag.Title = "IndexAdmin";
}

<h2>Todos los pedidos</h2>

<table class="table">
    <tr>
        <th>
            Usuario
        </th>
        <th>
            ID
        </th>
        <th>
            Estado
        </th>
        <th>
            Total
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.idUsuario)
        </td>
        <td>
            @Html.ActionLink(item.id, "Details", new { id = item.id })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.estado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.total)
        </td>
        <td>
            @switch(item.estado)
            {
                case "No pagado":
                    @Html.ActionLink("Pagado", "Actualizar", new { id = item.id, estado = "Pagado" })
                    break;
                case "Pagado":
                    @Html.ActionLink("Enviar", "Actualizar", new { id = item.id, estado = "Enviado" })
                    break;
                case "Enviado":
                    <text>Enviado</text>
                    break;
            }
                
            </td>


        </tr>
}

</table>
